<!DOCTYPE html>
<html>
    <head>
        <title> Etsy </title>
        <link rel="stylesheet" href="application.css">
    </head>
    <body>
        <!--This is the top of the page-->
        <div>
            <header>
                <h1 class="logo">Etsier </h1>
                <!--search box -->
                <nav class="searchbox">
                    <form action="https://www.etsy.com/search">
                        <input type="text" name="Search Item" reset placeholder="Search for items or shops" autofocus>
                        <button type="summit" value="Summit">Search</button>
                <!--browse option -->
                    <select class="options" name="sort itmes" >
                        <option value="choose">Browse</option>
                        <option value="Father's Day Gifts">Father's Day Gifts</option>
                        <option value="Summer Celebrations">Summer Celebrations</option>
                        <option value="Gift Ideas">Gift Ideas</option>
                        <option value="Art">Art</option>
                        <option value="Home and Living">Home and Living</option>
                        <option value="Mobile Accesories">Mobile Accesories</option>
                        <option value="Jewelry">Jewelry</option>
                        <option value="Women">Women</option>
                        <option value="Men">Men</option>
                        <option value="Kids">Kids</option>
                        <option value="Vintage">Vintage</option>
                        <option value="Weddings">Weddings</option>
                        <option value="Craft Supplies">Craft Supplies</option>
                    </select>
                    </form>
                </nav>
            </header>
        </div>
<!-- "<hr />" it create a break between themes*/ -->
<hr />
        <!--First side bar-->
        <h4>Show results for: </h4>
        <div class = "main">
            <div class="sidebar">
                <h4>All Categories</h4>
                    <ul>
                        <li><a href="#">Home and Living</a></li>
                        <li><a href="#">Weddings</a></li>
                        <li><a href="#">Art Collectibles</a></li>
                        <li><a href="#">Clothing</a></li>
                        <li><a href="#">Jewelry</a></li>
                        <li><a href="#">Paper Party Supplies</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Bags Purses</a></li>
                        <li><a href="#">Bath Beauty</a></li>
                        <li><a href="#">Craft Supplies Tools</a></li>
                        <li><a href="#">Electronics Accessories</a></li>
                        <li><a href="#">Books, Movies Music</a></li>
                        <li><a href="#">Pet Supplies</a></li>
                    </ul>
            </div>
        </div>
        <!--Second Side bar-->
        <h4>Refine your Search </h4>
        <div class="mainsecond">
            <div>

            </div>

        </div>

<hr />
        <footer>
            <nav><h5 class="first">Turn Your Passion Into a <br />Business</h5></nav>
                <ul style="list-style-type: none">
                    <li><a>Sell on Etsy</a></li>
                    <li><a href="#">Seller Handbook</a></li>
                    <li><a href="#">Etsy Credit Card Reader</a></li>
                </ul>
            <nav><h5 class="second">Join the Community</h5></nav>
                <ul  style="list-style-type: none">
                    <li><a href="#">Teams</a></li>
                    <li><a href="#">Forums</a></li>
                    <li><a href="#">Upcomming Events</a></li>
                    <li><a href="#">Affiliates</a></li>
                </ul>
            <nav><h5 class="third">Discover and Shop</h5></nav>
                <ul style="list-style-type: none">
                    <li><a href="#">Gift Cards</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Tastemakers</a></li>
                    <li><a href="#">Mobile Apps</a></li>
                    <li><a href="#">Gift Registries</a></li>
                    <li><a href="#">Wholesale</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Etsy Finds</a></li>
                </ul>
            <nav><h5 class="fourth">Get to Know Us</h5></nav>
                <ul style="list-style-type: none">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Investors</a></li>
                </ul>
<!--This is the footer, need to images to follow Etsy-->
            <nav><h5 class="fifth">Follow Etsy</h5></nav>
                <ul style="list-style-type: none">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Pinterest</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
        </footer>
    </body>
</html>